.grid{
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    gap: 20px;
}
.grid__item {
    background-color:crimson;
    min-height: 100px;
    border: 1px solid white;
}